.panda-card{
    border:0;
}
.panda-card-footer{
    background-color: white;
    border: 0;
}

.about-logo{
    width:100%;
    margin-top:200px;
    
}
.header-color{
    color:rgb(255, 102, 0);
}
.text-color{
    color: rgb(20, 1, 46);
}
p{
    color:rgb(20, 1, 46);
}
.about-section img{
    width:100%;
}